<h1>Here are the movies with the highest average rating!</h1>

<ul>
  <% @movies.each do |movie| %>
  <li>
    <%= link_to movie.title, movie_reviews_path(movie.id) %>
    Average Rating: <%= average_rating(movie) %>

  </li>
  <% end %>
</ul>
