<div>
  <% @user.reviews.each do |review| %>
    <ul>
      <li>
        Movie Title: <%= review.movie.title %>
      </li>
      <li>
        Review Title: <%=link_to review.title, movie_review_path(review.movie.id, review.id) %>
      </li>
    </ul>
  <% end %>
<div>
