<h1>Latest Reviews</h1>

<div>
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <h4><%= review.movie.title %></h4>
      </li>
      <li>
        Review: <%= link_to review.title, movie_review_path(review.movie_id, review.id) %>

      <% end %>
      </li>
  </ul>
</div>
