<!-- add autocomplete search bar to pick movie for new reviews -->

<% if flash[:notice] %>
   <div><font color="red">Review failed because: <%= flash[:notice] %></font></div>
 <% end %>

<% if @movie %>
  <%= render 'reviews/new_nested_review' %>
<% else %>
  <%= render 'reviews/new_review' %>
<% end %>
